.privacyPolicy {
    .wrapper {
        @media (max-width: 1600px) {
            font-size: calc(12px + (12 + 12 * 0.8) * ((100vw - 1000px) / 1920));
            margin: 0 auto;
            max-width: 95%;
        }
        @media (min-width: 1601px) {
            font-size: 20px;
            max-width: 1500px;
            margin: 0 auto;
        }
        padding-top: 11.5625em;
        font-family: "NAMU";
        h1 {
            font-size: 1.875em;
            color: #232323;
        }
        .row {
            h2 {
                font-size: 1.5625em;
                margin-top: 2.4em;
                color: #232323E5;
                margin-bottom: 1.2em;
            }
            .contentWrapper {
                margin-left: 3.125em;
                margin-bottom: 1.5em;
            }
            p {
                font-size: 1.25em;
                line-height: 1.2em;
                color: #232323CC;
            }
        }
    }
}
