.feedBack {
    font-size: calc(12px + (12 + 12 * 0.44) * ((100vw - 768px) / 1000));
    .wrapper {
        max-width: 95%;
        margin: 0 auto;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 7.5em;
            .column:nth-of-type(1) {
                width: 34.75em;
                h2 {
                    font-size: 3.125em;
                    font-family: "Kharkiv";
                    line-height: 1.2em;
                    color: #232323;
                }
            }
            .column:nth-of-type(2) {
                border: 0.0625em solid #23232333;
                width: 17.125em;
                height: 17.125em;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 1.375em;
                    color: #232323;
                }
            }
        }
    }
}