.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    font-size: calc(12px + (12 + 12 * 0.44) * ((100vw - 768px) / 1000));
    .wrapper {
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25em 0;
        border-bottom: 0.0625em solid #23232333;
        .column:nth-of-type(1) {
            img {
                width: 4.625em;
                height: 1.875em;
            }
        }
        .column:nth-of-type(2) {
            .items {
                display: inline-block;
                border: 0.0625em solid #23232333;
                padding: 0.5em 1.25em 0.6875em 1.25em;
                border-radius: 6.25em;
                &:hover {
                    transition-duration: 100ms;
                    background-color: #232323;
                    span {
                        color: white;
                    }
                }
                span {
                    font-size: 1.375em;
                    color: #232323;
                }
            }
        }
    }
    .onWrapperMenu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
    .onMenu {
        background-color: #232323;
        display: inline-block;
        padding: 5em;
        position: fixed;
        top: 0;
        right: 0;
        transition-duration: 100ms;
        pointer-events: auto !important;
        z-index: 10;
        .row:nth-of-type(1) {
            display: flex;
            align-items: flex-start;
            margin-bottom: 1.75em;
            .column:nth-of-type(1) {
                margin-right: 18em;
                ul {
                    li {
                        margin-bottom: 1.25em;
                        &:nth-last-of-type(1) {
                            margin-bottom: 0;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 1.5625em;
                            &:hover {
                                transition-duration: 100ms;
                                border-bottom: 0.0825em solid white;
                            }
                        }
                    }
                }
            }
            .column:nth-of-type(2) {
                margin-top: -0.2em;
                cursor: pointer;
                span:nth-of-type(1) {
                    display: inline-block;
                    background-color: white;
                    width: 1.2em;
                    height: 0.125em;
                    transform: rotate(45deg);
                    margin-right: -1.2em;
                }
                span:nth-of-type(2) {
                    display: inline-block;
                    background-color: white;
                    width: 1.2em;
                    height: 0.125em;
                    transform: rotate(-45deg);
                }
            }
        }
        .row:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img {
                width: 10.125em;
                height: 2.5em;
                margin-left: 1.5em;
                margin-bottom: -1.5em;
            }
            div {
                border: 0.0625em solid white;
                border-radius: 100%;
                width: 10.8125em;
                height: 10.8125em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                cursor: pointer;
                &:hover {
                    transition-duration: 100ms;
                    background-color: white;
                    span {
                        color: #232323;
                    }
                }
                span {
                    font-size: 1.1em;
                }
            }
        }
    }
    .offMenu {
        background-color: #232323;
        display: inline-block;
        padding: 5em;
        position: fixed;
        top: 0;
        right: -50em;
        transition-duration: 100ms;
        .row:nth-of-type(1) {
            display: flex;
            align-items: flex-start;
            margin-bottom: 1.75em;
            .column:nth-of-type(1) {
                margin-right: 12em;
                ul {
                    li {
                        margin-bottom: 1.25em;
                        &:nth-last-of-type(1) {
                            margin-bottom: 0;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 1.5625em;
                        }
                    }
                }
            }
            .column:nth-of-type(2) {
                margin-top: -0.2em;
                span:nth-of-type(1) {
                    display: inline-block;
                    background-color: white;
                    width: 1.2em;
                    height: 0.125em;
                    transform: rotate(45deg);
                    margin-right: -1.2em;
                }
                span:nth-of-type(2) {
                    display: inline-block;
                    background-color: white;
                    width: 1.2em;
                    height: 0.125em;
                    transform: rotate(-45deg);
                }
            }
        }
        .row:nth-of-type(2) {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            img {
                width: 12.625em;
                height: 2.5em;
            }
            div {
                border: 0.0625em solid white;
                border-radius: 100%;
                width: 10.8125em;
                height: 10.8125em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                span {
                    font-size: 1.1em;
                }
            }
        }
    }
}