.resultWork {
    .wrapper {
        @media (max-width: 1600px) {
            font-size: calc(12px + (12 + 12 * 0.8) * ((100vw - 1000px) / 1920));
            margin: 0 auto;
            max-width: 95%;
        }
        @media (min-width: 1601px) {
            font-size: 20px;
            max-width: 1500px;
            margin: 0 auto;
        }
        .row:nth-of-type(1) {
            padding-top: 9.375em;
            margin-bottom: 5.625em;
            h2 {
                font-size: 3.125em;
                font-family: "Kharkiv";
            }
        }
        .row:nth-of-type(2) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.875em;
            margin-bottom: 11.25em;
            .column {
                border: 0.0625em solid #2d2b2b33;
                padding: 1.5625em;
                .items:nth-of-type(1) {
                    h3 {
                        font-size: 1.875em;
                        font-family: "NAMU";
                        color: #232323;
                        line-height: 1.2em;
                    }
                }
                .items:nth-of-type(2) {
                    span {
                        font-size: 1.125em;
                        line-height: 1.2em;
                        color: #ffffffcc;
                    }
                }
                &:nth-of-type(3),
                &:nth-of-type(6),
                &:nth-of-type(8) {
                    background-color: #232323;
                    .items:nth-of-type(1) {
                        margin-bottom: 7.8125em;
                        h3 {
                            color: white;
                        }
                    }
                    .items:nth-of-type(2) {
                        width: 13.2em;
                    }
                }
                &:nth-of-type(1) {
                    border: 0;
                    padding: 0;
                    span {
                        font-size: 1.25em;
                        color: #606060;
                    }
                }
            }
        }
    }
}
